.category-title {
    font-weight: 600;
}

.category-component {
  padding: 20px;
}

.cardContainer {
    margin-top: 15px;

    .card {
        background-color: transparent;
        border: 1px solid #474747;
    }
  }

  .read-review-button{
    margin-left: 10px;
  }

  .starRating {
    display: inline;
    padding-right:30px;
    padding-bottom:60px;
  }
  
  .star {
      height: 20px;
      width: 20px;
      display: inline;
  }
