.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #1c1d1b;
    text-align: right;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.logo {
	margin-left: 13px;
	font-weight: 900;
}

.nav-link {
	color: white;
}

.navigation-links {
	display: flex;
	padding: 0px;
}

.login-button {
    border-radius: 0px;
    color: white;
    padding: 0px 5px;
}